/*Selector id*/
#contenedor{
    width: 900px;
    height: 1000px;
    background-color:bisque;
    color: white;
    max-width: 0 auto;
}


#encabezado{
    text-align: center;
    height: 15%;
    background-color: rgb(230,200,149);
    margin: 1em auto;
}

#menu{
    height: 5%;
    margin: 1em;
    background-color: rgb(171,161,134);
}

#seccion{
    height: 76%;
    width: 60%;
    background-color:rgb(151,158,54);
    margin: 0.5em;
    float: left;
}


#aseccion{
    height: 70%;
    width: 35%;
    background-color: rgb(190,193,79);
    margin: 0.5em;
    margin-left: 1%;
    float: right;
}

#pie{
    height: 10%;
    text-align: center;
    background-color: rgb(230,200,149);
    color: antiquewhite;
    border-radius: 1em;
    margin: 1.5 em;
    margin-top: 1%;
}


/* Selector de class */
.texto{
    text-align: justify;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

.encabezado{
    text-align:justify;
    color: white;
    margin: top 1em;
    margin-left: 1.5%;
}

.imagenes{
    display: block;
    border: 1px solid #ddd; 
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 150px;

}

.menu{
    text-align: center;
}

/*Selector etiqueta*/
ul{
    text-align: center;
}
li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
}

